<div class="container">
  <div class="jumbotron">
    <img class="img-responsive" img-center style="width: 310px; margin:auto;"
    src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Bookshelf-40x20_blue.svg/1280px-Bookshelf-40x20_blue.svg.png">
<h1>Listing books</h1>
<p>
  <% if can? :create, @book %>
    <p><%= link_to "New Book", new_book_path %></p>
  <% end %>
<%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

  <% if can? :update, @book %>
    <%= link_to "Edit", edit_book_path(@book) %> |
  <% end %>
  <% if can? :destroy, @book %>
    <%= link_to "Destroy", @book, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
</p>

<% if @books.count > 0 %>
<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Description</th>
		<th>Publication</th>
		<th colspan="4"></th>
	</tr>

	<% @books.each do |book| %>
	<tr>
		<td><%= book.title %></td>
		<td><%= book.author.name %></td>
		<td><%= book.description %></td>
		<td><%= book.publication %></td>
		<td><p style="font-size:20px; padding-left:10px;"><%= link_to "Show", book_path(book) %></p></td>
    <td><p style="font-size:20px; padding-left:10px;"><%= link_to "Edit", edit_book_path(book) if can? :manage, book %></p></td>
    <td><p style="font-size:20px; padding-left:10px;"><%= link_to "Delete", book_path(book),
                          method: :delete, data: { Confirm: "Are you sure?"} if can? :destroy, book %></p></td>
    <td><p style="font-size:20px; padding-left:10px;"><%= link_to "New", new_book_path if can? :create, book %></p></td>
	</tr>
	<% end %>
</table>
<% else %>
  <p>No items found!</p>
<% end %>
<a href="http://0.0.0.0:3000/">Home</a>



</div>
</div>
