<h1>New Book</h1>
<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>

<p>
	<strong>Author:</strong>
	<%= @book.author %>
</p>

<p>
	<strong>Description:</strong>
	<%= @book.description %>
</p>

<p>
	<strong>Publication:</strong>
	<%= @book.publication %>
</p>


<%= link_to 'Back', books_path %>
<%= link_to 'Edit', new_book_path %>
