<div class="container">
	<div class="jumbotron">
		<div style="float:left;">
<h1>Book</h1>
<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>

<p>
	<strong>Author:</strong>
	<%= @book.author.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @book.description %>
</p>

<p>
	<strong>Publication:</strong>
	<%= @book.publication %>
</p>

<p>
	<% if can? :create, @book %>
		<p><%= link_to "New Book", new_book_path %></p>
	<% end %>
	<% if can? :update, @book %>
		<%= link_to "Edit", edit_book_path(@book) %> |
	<% end %>
	<% if can? :destroy, @book %>
		<%= link_to "Destroy", @book, :method => :delete, :confirm => "Are you sure?" %> |
	<% end %>
	<%= link_to "Back to Books", books_path %>
</p>
</div>
<img class="img-responsive"  style="width: 310px; float:right;" src="http://www.nybooks.com/media/static/assets/_assets/img/common/suggest-title.png">


</div>
</div>
