<style>
.part_right{
	float:right;
}

.part_left{
	float:left;
}
.part_right{
	margin-top:20px;
  height: 180px;
  width: 180px;
}
.wrapper_show{
	width:700px;
	margin:auto;
}

</style>

<div class="container">
	<div class="wrapper_show">
	<div class="part_left">
	<ul class="nav nav-pills">
		<li class="active"><% if can? :update, @book %>
			<%= link_to "Edit", edit_book_path(@book) %>
		<% end %></li>
		<li class="active"><% if can? :destroy, @book %>
			<%= link_to "Delete", @book, :method => :delete, :confirm => "Are you sure?" %>
		<% end %></li>
		<li class="active"><% if can? :create, @book %>
			<%= link_to "New Book", new_book_path %>
		<% end %></li>
	</ul>
<h1>Book</h1>
<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>
<p>
	<strong>Author:</strong>
	<%= @book.author.name %>
</p>
<p>
	<strong>Description:</strong>
	<%= @book.description %>
</p>
<p>
	<strong>Publication:</strong>
	<%= @book.publication %>
</p>
</div>
<p class="part_right">
	<%= image_tag @book.cover.url(:small) %>
</p>
</div>
</div>
